@import "tailwindcss";

@theme {
  --color-primary: #6366F1;
  --color-secondary: #9AA0A6;
  --color-background: #1A1A1B;
  --color-card: #212121;
  --color-text-primary: #D7DADC;
  --color-text-secondary: #A8A8A8;
  --color-upvote: #7DD181;
  --color-downvote: #7193FF;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.3s ease-out;
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}